<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <form action="/get-files" method="post">
      Name-:
      <br />
      <br />
      <input type="text" name="name" />
      <br />
      <br />
      <button type="submit">Fetch</button>
    </form>
    <%if(url===false){%>
    <%if(cu===0){%>
        <h4>No Profile With this name exists</h4> 
        <%}else{%>

            <h2>Name-:<%=cu.name%></h2>
            <%if(cu.type==="png" || cu.type==="jpg" || cu.type==="jpeg"){%>
            <img src="<%=cu.image%>" alt="<%=cu.name%>" height="400px">
            <form action="/delete-image/<%=cu.id%>" method="post">
              <button type="submit">Delete</button>
            </form>
            <%}else{%>
              <h4>Not Yet Handled This File Type Please Wait for deleveloper to handle it😢😢</h4>
              <%}%>
            <br>
            <br>
             <%}%>
             <%}else{%>
                
                <%}%>
                <a href="/">Home</a>
  </body>
</html>
